<div class="jumbotron" onclick="jumbotron()">
  <h1 id="h1">Customers</h1>
</div>

<div class="container">
  <div class="row">
  <div class="col-lg-10" id="col1">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Customer Name
      </th>
      <th id="orders" onmouseover="orders()">
        Orders
      </th>
    </tr>
    </thead>
    <tbody>
        <% Customer.all.each do |c| %>
            <tr>
              <td>
                <%= c.id %>
              </td>
              <td>
                <%= c.name %>
              </td>
              <td >
                <% orders_str = "FFF" %>
                <% c.orders.each do |o| %>
                    <% if orders_str=="FFF" %>

                        <% orders_str = o.id.to_s + " FF " %>
                    <% else %>
                        <% orders_str = orders_str + ", " + o.id.to_s %>
                    <% end %>
                    <%= orders_str %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
  </table>
    </div>
  </div>
</div>
<script language="javascript" type="text/javascript"> <!--KIRILL, is language and type needed here? -->
  test();
</script>



