<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"> <!--Tells browser to use latest rendering engine -->
  <title></title>
  <meta name="viewport" content="width = device-width, initial-scale = 1 "> <!--Set page width to size of device and set zoom level 1-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container"> <!--Puts padding around everything within div-->
  <div class="page-header">
    <h1>Bootstrap Tutorial</h1>
  </div>


  <!--Responsive Columns Example -->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>Column 1</h4>
      Integer fringilla lobortis est, vel sagittis ipsum vulputate vitae. Donec feugiat nisi quis ante molestie sodales ut quis massa. Nam malesuada ligula vitae accumsan pulvinar. Duis bibendum ut massa eget posuere. Duis volutpat fermentum aliquet. Donec pulvinar a ligula a ullamcorper. Phasellus et nisl accumsan orci efficitur faucibus.
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>Column 2</h4>
      Integer fringilla lobortis est, vel sagittis ipsum vulputate vitae. Donec feugiat nisi quis ante molestie sodales ut quis massa. Nam malesuada ligula vitae accumsan pulvinar. Duis bibendum ut massa eget posuere. Duis volutpat fermentum aliquet. Donec pulvinar a ligula a ullamcorper. Phasellus et nisl accumsan orci efficitur faucibus.
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>Column 3</h4>
      Integer fringilla lobortis est, vel sagittis ipsum vulputate vitae. Donec feugiat nisi quis ante molestie sodales ut quis massa. Nam malesuada ligula vitae accumsan pulvinar. Duis bibendum ut massa eget posuere. Duis volutpat fermentum aliquet. Donec pulvinar a ligula a ullamcorper. Phasellus et nisl accumsan orci efficitur faucibus.
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>Column 4</h4>
      Integer fringilla lobortis est, vel sagittis ipsum vulputate vitae. Donec feugiat nisi quis ante molestie sodales ut quis massa. Nam malesuada ligula vitae accumsan pulvinar. Duis bibendum ut massa eget posuere. Duis volutpat fermentum aliquet. Donec pulvinar a ligula a ullamcorper. Phasellus et nisl accumsan orci efficitur faucibus.
    </div>
  </div>


  <!--Button Tutorial -->
  <div class="jumbotron"> <!--Enlarges fonts and puts everything in a grey box -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus malesuada nunc, nec vestibulum elit tristique sit amet. Phasellus varius suscipit ipsum nec pretium. Donec laoreet velit elit. Nulla luctus, sem ac gravida placerat, sapien ex hendrerit erat, a tincidunt sem ipsum quis sem. Maecenas quis pharetra massa. Aliquam erat volutpat. Duis pharetra iaculis imperdiet. Integer eget felis ut sapien facilisis rutrum egestas eget purus. Nam facilisis nec diam non bibendum. Nunc sed mattis odio. Curabitur consectetur, orci in facilisis ullamcorper, ipsum ex scelerisque tellus, ac pellentesque ligula ante sed tortor.</p>
    <a href="http://wired.com" class="btn btn-default btn-lg" role="button">Procrastinate</a>
    <button type="submit" class="btn btn-danger" role="button">Button</button>
    <input type="button" value="Info" class="btn btn-info btn-lg">
    <div class="btn-group btn-group-lg" role="group">
      <button type="button" class="btn btn-default">Small</button>
      <button type="button" class="btn btn-default">Medium</button>
      <button type="button" class="btn btn-default">Large</button>
    </div>
  </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
