<div class="jumbotron">
  <h1>Orders</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th>
            Order ID
          </th>
          <th>
            Product ID
          </th>
          <th>
            Customer ID
          </th>
        </tr>
        </thead>
        <tbody>
        <% Order.all.each do |o| %>
            <tr>
              <td>
                <%= o.id %>
              </td>
              <td>
                <%= o.product_id %>
              </td>
              <td>
                <%= o.customer_id %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>