<h1>Orders</h1>

<%output = "";
output += "<table>"
  Order.all.each do |c|
  output += "<tr><td>#{c.id}</td><td><p><a href="'/shop/customers'">#{c.customer_id}</a></p></td><td><p><a href="'/shop/products'">#{c.product_id}</a></p></td></tr>"
  end%>
 <%=output += "</table>"%>



