<h1>Orders</h1>



<table>
  <tr>
    <td>
      <b>
        Order ID
      </b>
    </td>
    <td>
      <b>
        Customer ID
      </b>
    </td>
    <td>
      <b>
        Customer Name
      </b>
    </td>
  </tr>
  <% Order.all.each do |o| %>
      <tr>
        <td>
          <%= o.id %>
        </td>
        <td>
          <%= o.customer_id %>
        </td>
        <td>
          <%= o.customer.name%>
        </td>

      </tr>
  <% end %>
</table>


