<form id="Product Form" method="post" action="/shop/product">
  Name <input id="name" name="name" type="text">
  SKU <input id="sku" name="sku" type="text">
  Price <input id="price" name="price" type="text">
  <input type="submit" title="Click me">
</form>
