<h1>Products</h1>

<table>
  <tr>
    <td>
      <b>
        ID
      </b>
    </td>
    <td>
      <b>
        Name
      </b>
    </td>
    <td>
      <b>
        Price
      </b>
    </td>
    <td>
      <b>
        Description
      </b>
    </td>
  </tr>
  <% Product.all.each do |c| %>
      <tr>
        <td>
          <%=c.id%>
        </td>
        <td>
          <a href="product/<%=c.id%>"><%=c.name%></a>
        </td>
        <td>
          <%=c.price%>
        </td>

      </tr>
  <%end%>
</table>
