<head>
  <title>Table of Contents</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/toc_style.css">
</head>
<body>
  <div class="container">
      <h1>Web App Development Table of Contents</h1>
      <div class="container">
        <ol>
          <li>
              Ruby
          </li>
          <ol>
            <li>
              Standard Library
            </li>
            <ol>
              <li>
                Variables, Variable Types and Instantiation Methods
              </li>
              <ol>
                <li>
                  <a href="http://ruby-doc.com/docs/ProgrammingRuby/">
                    Simple data types and collections
                  </a>
                </li>
                <li>
                  Symbols
                </li>
              </ol>
              <li>
                Methods
              </li>
              <li>
                Operators
              </li>
              <li>
                Control Structures and Iterators: Loops and Conditional Statements
              </li>
              <ol>
                <li>
                  If/elsif/else, for, if not, unless, until, case/when
                </li>
                <li>
                  Blocks
                </li>
                <li>
                  Yield
                </li>
              </ol>
              <li>
                Puts vs. p; returning vs outputting
              </li>
              <li>
                Concatenation & Inserting Variables into Strings
              </li>
              <li>
                Regular Expressions
              </li>
              <li>
                Read/Write Between Files
              </li>
              <li>
                Classes
              </li>
              <li>
                Modules
              </li>
              <ol>
                <li>
                  Name Spaces
                </li>
              </ol>
              <li>
                Scope and Inheritance
              </li>
            </ol>
            <li>
              Applications
            </li>
            <ol>
              <li>
                Sinatra - DSL (Domain Specific Language)
              </li>
              <ol>
                <li>
                  MVC
                </li>
                <li>
                  ORM
                </li>
                <li>
                  CRUD - get, post, put, delete
                </li>
              </ol>
              <li>
                Ruby on Rails
              </li>
            </ol>
            <li>
              <a href="http://guides.rubyonrails.org/active_record_basics.html ">Active Record</a>
            </li>
            <ol>
              <li>
                File structures and naming conventions
              </li>
              <li>
                <a href="http://jasonseifer.com/2010/04/06/rake-tutorial">Rake</a>
              </li>
              <li>
                <a href="http://edgeguides.rubyonrails.org/active_record_migrations.html">Migrations</a>
              </li>
              <li>
                Population
              </li>
              <li>
                Rollbacks
              </li>
            </ol>
            <li>
              Tools
              <ol>
                <li>
                  Gems and Package Managers
                </li>
                <ol>
                  <li>
                    List of all gems and their uses
                  </li>
                  <ol>
                    <li>
                      Xcode 7.0.1
                    </li>
                    <li>
                      Ruby 2.2.3
                    </li>
                    <li>
                      Sudo
                    </li>
                    <li>
                      Bundler (For Heroku)
                    </li>
                    <li>
                      Homebrew
                    </li>
                  </ol>
                  <li>
                    Gem installation and program implementation
                  </li>
                  <li>
                    VCS (Version Control System) - a way of upgrading gems to their latest version or setting the version of choice
                  </li>
                </ol>
                <li>
                  ERB (Embedded Ruby) and Views
                </li>
                <ol>
                  <li>
                    ERB Syntax and File Location
                  </li>
                  <li>
                    Rake (migration manager)
                  </li>
                </ol>
              </ol>
            </li>
          </ol>
          <li>
            HTML
          </li>
          <li>
            CSS
          </li>
          <li>
              JavaScript
          </li>
          <ol>
            <li>
              Client Side
            </li>
            <ol>
              <li>
                DOM
              </li>
              <li>
                Functions
              </li>
              <ol>
                <li>
                  Event-based
                </li>
                <li>
                  Synchronous vs Asynchronous
                </li>
              </ol>
              <li>
                AJAX
              </li>
              <li>
                JQuery
              </li>
              <li>
                JSON
              </li>
              <ol>
                <li>
                  Pagination
                </li>
                <li>
                  Promises
                </li>
                <li>
                  <a href="http://www.w3schools.com/bootstrap/default.asp">
                    Bootstrap
                  </a>
                </li>
                <li>
                  REST
                </li>
              </ol>
              <li>
                Server Side
              </li>
            </ol>
          </ol>
          <li>
              SQL
          </li>
          <ol>
            <li>
              Create, insert, delete, joins, truncate
            </li>
            <li>
              Auxillary Tables
            </li>
          </ol>
          <li>
              System Administration
          </li>
          <ol>
            <li>
              CVS - Concurrent Version System
            </li>
            <ol>
              <li>
                <a href="table_of_contents/github/">
                  GitHub
                </a>
              </li>
              <ol>
                <li>
                  Push, pull
                </li>
                <li>
                  Branches
                </li>
              </ol>
            </ol>
            <li>
              Heroku - Cloud hosting
            </li>
            <li>
              Bash commands and workflow
            </li>
            <ol>
              <li>
                Directory Navigation
              </li>
              <li>
                Environments
              </li>
            </ol>
            <li>
              Virtual Machine
            </li>
            <ol>
              <li>
                Vagrant
              </li>
            </ol>
            <li>
              IDE
            </li>
            <ol>
              <li>
                RubyMine
              </li>
            </ol>
            <li>
              Networking
            </li>
            <ol>
              <li>
                Rest
              </li>
              <li>
                HTTP
              </li>
            </ol>
          </ol>
        </ol>
        <ul>
          <li>
            <a href="https://docs.google.com/document/d/1wF0IdIZmmuI7iAimZJzbwlacCtir56fbyp0rh7S7pWA/edit#">Notes</a>
          </li>
          <li>
            Local Files
          </li>
        </ul>

<!--    <form action="demo_form.asp" method="get">
      First name: <input type="text" name="fname"><br>
      Last name: <input type="text" name="lname"><br>
      <input type="submit" value="Submit">
    </form>-->
    </div>
  </div>
</body>