<head>
  <title>Table of Contents</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
      <h1>Web App Development Table of Contents</h1>
      <div class="container">
        <ol>
          <li>
              Ruby
          </li>
          <ol>
            <li>
              Standard Library
            </li>
            <ol>
              <li>
                Variables, Variable Types and Instantiation Methods
              </li>
              <ol>
                <li>
                  <a href="http://ruby-doc.com/docs/ProgrammingRuby/">
                    Simple data types and collections
                  </a>
                </li>
                <li>
                  Symbols
                </li>
              </ol>
              <li>
                Methods
              </li>
              <li>
                Operators
              </li>
              <li>
                Control Structures and Iterators: Loops and Conditional Statements
              </li>
            </ol>
          </ol>
          <li>
              JavaScript
          </li>
          <li>
              SQL
          </li>
          <li>
              System Administration
          </li>
        </ol>
<!--    <form action="demo_form.asp" method="get">
      First name: <input type="text" name="fname"><br>
      Last name: <input type="text" name="lname"><br>
      <input type="submit" value="Submit">
    </form>-->
    </div>
  </div>
</body>