<html lang="en">
<head>
  <title>Test View</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Test View</h1>
  <p>
    This is a paragraph
      <ul>
        <li>
          Bullet 1
        </li>
        <li>
          Bullet 2
        </li>
      </ul>
  </p>

</body>
</html>
